.title {
    font-family: 'Open Sans Condensed';
    font-size: 48px;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 400px) {
        font-size: 32px;
    }

    span {
        color: #D1A954;
    }

    &_hidden {
        display: none;
    }
}
