.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 160px;
    background-color: #d1a954;
    transition: background-color .4s;
    font-family: 'Open Sans Condensed';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #bd9642;
}
